#bloc_page
{
	width: 97%;
	margin: auto;
}

#auteurs
{
	background-color: #373E48;
	margin-top: -30px;
	padding-top: 3px;
	height: 80px;
	text-align: center;
}

h1
{
	font-size: 2.0em;
	text-align: center;
}

#titre
{
	margin-top: -30px;
	background-color: white;
	color: red;
}